datasets==3.4.0
hqq==0.2.5
hydra-core==1.3.2
lib==4.0.0
lm_eval==0.4.8
matplotlib==3.10.1
numpy==2.2.4
omegaconf==2.3.0
opt_einsum==3.4.0
packaging==24.2
psutil==7.0.0
PyYAML==6.0.2
quanto==0.2.0
scipy==1.15.2
sympy==1.13.1
torch==2.6.0
tqdm==4.67.1
transformers==4.50.0
